//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.01
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Wed 12 29 10:37:50 2021

IO_LOC "mem_clk" 20;
IO_PORT "mem_clk" PULL_MODE=UP DRIVE=8;
IO_LOC "mem_ce_n" 19;
IO_PORT "mem_ce_n" PULL_MODE=UP DRIVE=8;
IO_LOC "sig[2]" 38 exclusive;
IO_PORT "sig[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "sig[1]" 39 exclusive;
IO_PORT "sig[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "sig[0]" 40 exclusive;
IO_PORT "sig[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "mem_sio[3]" 21;
IO_PORT "mem_sio[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "mem_sio[2]" 24;
IO_PORT "mem_sio[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "mem_sio[1]" 23;
IO_PORT "mem_sio[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "mem_sio[0]" 22;
IO_PORT "mem_sio[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "sys_clk" 35;
IO_PORT "sys_clk" PULL_MODE=UP;
IO_LOC "sys_rst_n" 15;
IO_PORT "sys_rst_n" PULL_MODE=UP;
IO_LOC "button0" 14;
IO_PORT "button0" PULL_MODE=UP;
